header {
  background-color: #26d0c9;
  color: #fff;
  padding: 60px 80px;
}

header h3{
  font-size: 50px;
}

header h1 {
  font-size: 70px;
}

h4{
 font-size: 20px;
  color: #fff;
  float: left;
padding: 10px 22px;
}

li{
  font-size:18px;
  list-style: none;
  float: right;
  color: #fff;
  padding: 33px 20px;
}


a {
  text-decoration: none;
  color: #fff;
}