body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#container {
    margin: auto;
}

#header{
    background-color: rgb(255, 255, 255);
    margin: 0;
    
    padding-top: 10px;
    padding-left: 70px;
}

#header img{
    float: left;
    float: left;
    padding-right: 12px;
    width: 45px;
    height: auto;
}

#header h1{
    padding: 3px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#header p{
    margin: 0px;
    color: rgb(143, 143, 143);
    font-size: 15px;
}



#container2 {
    margin-top: 200px;
    margin-bottom: 200px;
}

fieldset{
    border: 1px solid rgb(255, 255, 255);
    
    width: 400px;
    margin:auto;
    text-align: center;
  }

  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 400px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .registerbtn {
    background-color: rgb(0, 34, 102);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }


#body{
clear: both;
text-align: center;
}


#footer {
    clear: both;
    height: 200px;
    background-color: rgb(0, 34, 102);
}

#alamat {
    color: white;
    padding: 0;
    padding-left: 550px;
    padding-right: 180px;
    font-size: 20px;
    float: left;
    
}

#kontak {    
    color: white;
    display: flex;
    font-size: 20px;
    
}

#copyright {
    color: white;
    padding: 2px;
    text-align: center;
    clear: both;
    font-size: 20px;
}